{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width:500px;">

<div class="card shadow p-4 border-0 rounded-4">

<div class="text-center mb-4">
<h2 class="fw-bold">Reset Password</h2>
<p class="text-muted">
Create a strong new password.
</p>
</div>

{% if error %}
<div class="alert alert-danger">
{{ error }}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success">
{{ success }}
</div>
{% endif %}

<form method="POST">

<label class="form-label">New Password</label>

<input
type="password"
name="password"
class="form-control form-control-lg mb-3"
placeholder="Enter new password"
required
>

<div class="small text-muted mb-3">
Password must contain:
<ul>
<li>Minimum 8 characters</li>
<li>One uppercase letter</li>
<li>One number</li>
</ul>
</div>

<button class="btn btn-dark w-100 btn-lg">
Update Password
</button>

</form>

</div>
</div>

{% endblock %}